<head><title>صفحه فرم</title></head>
{% extends 'base/stu_base.html' %}

{# todo #}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container col-md-4"></div>
    <div class="container col-md-4">

        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-right">سوالات</th>
            </tr>
{#            {% for question in form.instance_of.question_set.question_set.all %}#}
            {% for question in questions %}
                <tr>
                    <td class="text-right">{{question.text }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <form class="form-horizontal" novalidate method="get" action="/student/perform_task/{{ task_id }}">
                        <button type="submit" value="تکمیل فرم" class="btn btn-primary">تکمیل فرم</button>
        </form>
    </div>
    <div class="container col-md-4"></div>


{% endblock %}




