<head><title>صفحه پرداخت</title></head>
{% extends 'base/stu_base.html' %}

{# todo #}
{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container col-md-4"></div>
    <div class="container col-md-4">

        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-right">شماره حساب گیرنده</th>
                <th class="text-right">مبلغ</th>
            </tr>
                <tr>
                    <td class="text-right">{{payment.instance_of.receiver }}</td>
                    <td class="text-right">{{payment.instance_of.default_amount}}</td>
                </tr>
            </tbody>

        </table>
    <form class="form-horizontal" novalidate method="get" action="/student/perform_task/{{ task_id }}">
                        <button type="submit" value="تکمیل پرداخت" class="btn btn-primary">تکمیل پرداخت</button>
        </form>
    </div>
    <div class="container col-md-4"></div>


{% endblock %}




