<head><title>صفحه‌ی کاربر</title></head>
{% extends 'base/base.html' %}




{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <table class="table table-bordered" style="background-color: aqua;">
            <tbody>
            <tr>
                <td class="text-right"> {{ student.first_name }}</td>
                <th class="text-right">نام</th>
            </tr>
            <tr>
                <td class="text-right"> {{ student.last_name }}</td>
                <th class="text-right">نام خانوادگی</th>


            </tr>
            <tr>
                <td class="text-right"> {{ student.email }}</td>
                <th class="text-right">رایانامه</th>

            </tr>
            <tr>
                <td class="text-right"> {{ student.phone_number }}</td>
                <th class="text-right">شماره تلفن</th>

            </tr>
            <tr>
                <td class="text-right">{{ student.student_id }}</td>
                <th class="text-right">شماره‌ی دانشجویی</th>

            </tr>
            <tr>
                <td class="text-right">{{ student.major }}</td>
                <th class="text-right">رشته</th>

            </tr>
            </tbody>

        </table>

        <button type="submit" value="ثبت نام" class="btn btn-primary">ثبت نام</button>
    </div>
    <div class="col-md-2"></div>
{% endblock %}

