<head><title>صفحه‌ی کاربر</title></head>
{% extends 'base/base.html' %}




{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <td class="text-center"> {{ student.first_name }}</td>
                <th class="text-center">نام</th>
            </tr>
            <tr>
                <td class="text-center"> {{ student.last_name }}</td>
                <th class="text-center">نام خانوادگی</th>


            </tr>
            <tr>
                <td class="text-center"> {{ student.email }}</td>
                <th class="text-center">رایانامه</th>

            </tr>
            <tr>
                <td class="text-center"> {{ student.phone_number }}</td>
                <th class="text-center">شماره تلفن</th>

            </tr>
            <tr>
                <td class="text-center">{{ student.student_id }}</td>
                <th class="text-center">شماره‌ی دانشجویی</th>

            </tr>
            <tr>
                <td class="text-center">{{ student.major }}</td>
                <th class="text-center">رشته</th>

            </tr>
            </tbody>

        </table>

        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-center">نوع فرایند</th>
                <th class="text-center">وضعیت</th>
            </tr>
            {% for process in processes %}
                <tr>
                    <td class="text-center"> {{ process.instance_of.name }}</td>
                    <td class="text-center"> {% if process.validated %} کامل {% else %} ناقض {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="container col-md-4">
        <div>
            <div class="text-center"><img src="/{{ student.document }}" width="200" height="200"></div>
            <div class="text-center">عکس</div>

        </div>
    </div>
{% endblock %}

