<head><title>صفحه‌ی کاربر</title></head>
{% extends 'base/stu_base.html' %}


{% load staticfiles %}
{% load static %}

{% block content %}
    <div id="panel-header">
        <div id="panel-header" align="center">اطلاعات دانشجو</div>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="panel-group">
        <div class="panel panel-info col-md-3 col-sm-12">
            <div class="panel-heading">
                <div class="text-center">
                    <img src="/{{ student.document }}" width="200" height="250"
                         onerror="this.src='{% static "pics/default-user.jpg" %}'">
                </div>
            </div>
            <div align="center">:Username</div>
            <div align="center" class="panel-body">{{ student.user }}</div>
            <div></div>
        </div>

        <div class="panel panel-info col-md-9 col-sm-12">
            <div class="panel-heading">{{ student.first_name }} {{ student.last_name }}</div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شماره تلفن"
                                             value="{{ student.phone_number }}"></div>
                <div class="col-xs-6">شماره تلفن:‌</div>
            </div>

            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شماره تلفن"
                                             value="{{ student.email }}"></div>
                <div class="col-xs-6">ایمیل:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="رشته"
                                             value="{{ student.major }}"></div>
                <div class="col-xs-6">رشته:‌</div>
            </div>
            <div class="row panel-body">
                <div class="col-xs-6"><input type="text" id="staticField" readonly
                                             class="form-control-plaintext form-control"
                                             placeholder="شماره دانشجویی:"
                                             value="{{ student.student_id }}"></div>
                <div class="col-xs-6">ایمیل:‌</div>
            </div>

        </div>
    <table class="table table-bordered" style="background-color: #999999;">
 -            <tbody>
 -            <tr>
 -                <th class="text-center">نوع فرایند</th>
 -                <th class="text-center">وضعیت</th>
 -            </tr>
 -            {% for process in processes %}
 -                <tr>
 -                    <td class="text-center"><a href="/student/process_page/{{ student.student_id }}/{{ process.id }}"> {{ process.instance_of.name }}</a></td>
 -                    <td class="text-center"> {% if process.validated %} کامل {% else %} ناقض {% endif %}</td>
 -                </tr>
 -            {% endfor %}
 -            </tbody>
 -
 -        </table>
    </div>

{% endblock %}

