<head><title>اضافه کردن ساختمان</title></head>
{% extends 'base/base.html' %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        <form novalidate method="get" action="set_questions">
            <button type="submit" value="add question" class="btn btn-primary">add question</button>
		</form>
    </div>
    <div class="container">
        <form  novalidate method="post">
		  {% csrf_token %}
		  {{ form.as_p }}
            <button type="submit" value="create question set" class="btn btn-primary">create question set</button>
		</form>
    </div>
{% endblock %}


