<head><title>ساخت الگوی فرایند</title></head>
{% extends 'base/base.html' %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        {{ success_message }} {# process blueprint added successfuly #}
        <form novalidate method="get" action="add_preprocess">
            <button type="submit" value="add preprocess" class="btn btn-primary">add preprocess</button>
		</form>
    </div>
    <div class="container">
        <form  novalidate method="post">
		  {% csrf_token %}
		  {{ form.as_p }}
            <button type="submit" value="create process" class="btn btn-primary">create process</button>
		</form>
    </div>
{% endblock %}


