<head><title>الگوی فرایند</title></head>
{% extends 'base/emp_base.html' %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="container">
        {{ process_pb.name }}
        <form class="form-horizontal" novalidate method="get" action="add_preprocess">
                        <button type="submit" value="افزودن فرایند پیشنیاز" class="btn btn-primary">افزودن فرایند پیشنیاز</button>
        </form>
        <form class="form-horizontal" novalidate method="get" action="add_default_employee_task">
                        <button type="submit" value="افزودن وظیفه کارمند پیشفرض" class="btn btn-primary">افزودن وظیفه کارمند پیشفرض</button>
        </form>

        <form class="form-horizontal" novalidate method="get" action="add_default_form_task">
                        <button type="submit" value="افزودن فرم پیشفرض" class="btn btn-primary">افزودن فرم پیشفرض</button>
        </form>

        <form class="form-horizontal" novalidate method="get" action="add_default_payment_task">
                        <button type="submit" value="افزودن پرداخت پیشفرض" class="btn btn-primary">افزودن پرداخت پیشفرض</button>
        </form>
    </div>
{% endblock %}




