<head><title>وضعیت فرایند</title></head>
{% extends 'base/base.html' %}




{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <td class="text-right"> {{ process.instance_of.name }}</td>
                <th class="text-right">نام فرایند</th>
            </tr>
            </tbody>
        </table>

        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-right">نوع فرایند</th>
                <th class="text-right">وضعیت</th>
            </tr>
            {% for form_task in form_tasks%}
            <tr>
                <td class="text-right"> {{ form_task.process.name}}</td>
                <td class="text-right"> نام فرایند مربوطه</td>
                <td class="text-right"> {{  form_task.task_id}}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="col-md-2"></div>
{% endblock %}

