<head><title>لیست دپارتمان ها</title></head>

{% extends 'base/emp_base.html' %}



{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-right">نام مدیر</th>
                <th class="text-right">نام</th>
                <th class="text-right">شماره دپارتمان</th>
            </tr>
            {% for department in departments %}
            <tr>
                <td class="text-right"> {{ department.manager.employee_id }}</td>
                <td class="text-right"> {{ department.name }}</td>
                <td class="text-right">{{ department.department_id }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>

        <button type="submit" value="ثبت نام" class="btn btn-primary">ثبت نام</button>
    </div>
    <div class="col-md-2"></div>
{% endblock %}

