<head><title>ساختمان</title></head>
{% extends base_html %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="col-md-2"></div>
    <div class="container col-md-8">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="text-center"> {{ department.name }}</td>
                <th class="text-center"> نام دپارتمان</th>
            </tr>
            <tr>
                <td class="text-center">{{ department.department_id }}</td>
                <th class="text-center">شماره دپارتمان</th>
            </tr>
            <tr>
                <td class="text-center"> {{ department.manager.employee_id }}</td>
                <th class="text-center"> شماره کارمندی مدیر</th>
            </tr>
            </tbody>

        </table>
        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-center">نام خانوادگی کارمند</th>
                <th class="text-center">نام کارمند</th>
                <th class="text-center">شماره کارمندی</th>

            </tr>
            {% for employee in employees %}
                <tr>
                    <td class="text-center"> {{ employee.last_name }}</td>
                    <td class="text-center"> {{ employee.first_name }}</td>
                    <td class="text-center"> {{ employee.employee_id }}</td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
        <div align="center">
            <div id="table" align="center">
                <div id="row">
                    <div id="cell">
                        <form class="form-horizontal" novalidate method="get" action="employ">
                            <button type="submit" value="ثبت نام" class="btn btn-primary">استخدام</button>
                        </form>
                    </div>
                    <div id="cell">
                        <form class="form-horizontal" novalidate method="get" action="fire">
                            <button type="submit" value="ثبت نام" class="btn btn-primary">اخراج</button>
                        </form>
                    </div>
                    <div id="cell">
                        <form class="form-horizontal" novalidate method="get" action="set_manager">
                            <button type="submit" value="ثبت نام" class="btn btn-primary">انتخاب مدیر</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}