{% extends 'base/base.html' %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="container">

        <table class="table table-bordered">
            <tbody>
            <tr>
                <td class="text-right"> {{ department.name }}</td>
                <th class="text-right"> نام دپارتمان</th>
            </tr>
            <tr>
                <td class="text-right">{{ department.department_id }}</td>
                <th class="text-right">شماره دپارتمان</th>
            </tr>
            <tr>
                <td class="text-right"> {{ department.manager.employee_id }}</td>
                <th class="text-right"> شماره کارمندی مدیر</th>
            </tr>
            </tbody>

        </table>
        <table class="table table-bordered" style="background-color: aqua;">
            <tbody>
            <tr>
                <th class="text-right">نام خانوادگی کارمند</th>
                <th class="text-right">نام کارمند</th>
                <th class="text-right">شماره کارمندی</th>

            </tr>
            {% for employee in employees %}
            <tr>
                <td class="text-right"> {{ employee.last_name}}</td>
                <td class="text-right"> {{ employee.first_name}}</td>
                <td class="text-right"> {{ employee.employee_id}}</td>

            </tr>
            {% endfor %}
            </tbody>

        </table>
        <form class="form-horizontal" novalidate method="get" action="employ">
            <button type="submit" value="ثبت نام" class="btn btn-primary">استخدام</button>
        </form>
        <form class="form-horizontal" novalidate method="get" action="fire">
            <button type="submit" value="ثبت نام" class="btn btn-primary">اخراج</button>
        </form>
        <form class="form-horizontal" novalidate method="get" action="set_manager">
            <button type="submit" value="ثبت نام" class="btn btn-primary">انتخاب مدیر</button>
        </form>
    </div>
{% endblock %}