{% extends 'base/emp_base.html' %}


{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8" >

        <table class="table table-bordered" style="background-color: #999999">
            <tbody>
            <tr>
                <td class="text-right"> {{ employee.first_name }}</td>
                <th class="text-right">نام</th>
            </tr>
            <tr>
                <td class="text-right"> {{ employee.last_name }}</td>
                <th class="text-right">نام خانوادگی</th>


            </tr>
            <tr>
                <td class="text-right"> {{ employee.email }}</td>
                <th class="text-right">رایانامه</th>

            </tr>
            <tr>
                <td class="text-right"> {{ employee.phone_number }}</td>
                <th class="text-right">شماره تلفن</th>

            </tr>
            <tr>
                <td class="text-right">{{ employee.employee_id }}</td>
                <th class="text-right">شماره‌ی کارمندی</th>

            </tr>
            </tbody>

        </table>

       </div>
{% endblock %}