@font-face {
    font-family: BTitrBold;
    src: url("../fonts/BTitrBold.ttf") format("truetype");
}

@font-face {
    font-family: BKoodak;
    src: url("../fonts/BKoodak.ttf") format("truetype");
}

@font-face {
    font-family: BNazanin;
    src: url("../fonts/BNazanin.ttf") format("truetype");
}

@font-face {
    font-family: BNazaninBold;
    src: url("../fonts/BNazaninBold.ttf") format("truetype");
}

* {
    font-family: BKoodak, Arial;
    font-size: 20px;
    direction: rtl;
}

/*p {*/
/*color: #1AAA;*/
/*}*/

body {
    background: white url("../pics/bg.jpg") no-repeat;
}

body div footer.container-fluid.text-right {
    background-color: rgba(245, 241, 239, 0.84);
}

body nav.navbar {
    direction: rtl;
    background-color:rgba(245, 241, 239, 0.84);
    height: 70px;
}

#footer {
    margin-top: 20vh;
    direction: rtl;
    background-color: rgba(245, 241, 239, 0.84);
}

body nav.navbar.navbar-inverse a {
    color: black;
}

#head-and-foot {
    font-family: BNazanin;
}

#university-brand {
    font-family: BNazaninBold;
}

/*body {*/
/*background-image: url("/base/static/pics/bg3.png")*/
/*}*/

#table-header {
    font-family: "BKoodak";
    /*color: green;*/
}

#error {
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}

#button_submit {
    padding-top: 20px;
}

#fill_out_form {
    box-shadow: 3px 3px #3333;
    background-color: #fff;
    border-radius: 30px;
}

#fourerror {
    font-family: BTitrBold;
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    color: darkred;
}

#row {
    padding-top: 20px;
    display: table-row;
}

#cell {
    display: table-cell;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

#table {
    display: table;
}

#panel-header {
    font-size: 50px;
}

#staticField {
    width: 300px;
    height: 50px;
    font-size: 15px;
}