* {
    /*color: #555200;*/
    font-family: 'Lateef', 'Arial';
}

p {
    color: #1AAA;
}

#university-brand {
    color: seagreen;
}

/*body {*/
/*background-image: url("/base/static/pics/bg3.png")*/
/*}*/

#table-header {
    font-family: "Lateef";
    color: green;
}

#error {
    color: red;
}

#button_submit {
    padding-top: 20px;
}

#fill_out_form {
    box-shadow: 3px 3px #3333;
    background-color: #fff;
    border-radius: 30px;
"
}

#fourerror {
    font-family: 'IranianSansRegular';
    font-size: 40px;
    font-weight: normal;
    font-style: normal;
    color: darkred;
}