<head><title>صفحه‌ی اپراتور</title></head>
{% extends 'base/op_base.html' %}




{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="col-md-2"></div>
    <div class="container col-md-8">
        <table class="table table-bordered" style="background-color: #999999;">
            <tbody>
            <tr>
                <th class="text-center">نام</th>
                <td class="text-center"> {{ operator.first_name }}</td>
            </tr>
            <tr>
                <th class="text-center">نام خانوادگی</th>
                <td class="text-center"> {{ operator.last_name }}</td>


            </tr>
            <tr>
                <th class="text-center">رایانامه</th>
                <td class="text-center"> {{ operator.email }}</td>

            </tr>
            <tr>
                <th class="text-center">شماره تلفن</th>
                <td class="text-center"> {{ operator.phone_number }}</td>

            </tr>
            </tbody>

        </table>
    </div>
    <div class="col-md-2"></div>
{% endblock %}

