{% load bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="footer.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Title</title>
</head>
<body>
{#<div id="footer">shit</div>#}
{#<nav class="navbar navbar-default navbar-fixed-bottom">#}
{#  <div class="container">#}
{#    By group name#}
{#  </div>#}
{#</nav>#}
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <ul class="nav navbar-nav navbar-right">
            <div class="dropdown">
{#                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"#}
{#                        aria-haspopup="true" aria-expanded="true">#}
{#                    Dropdown#}
{#                    <span class="caret"></span>#}
{#                </button>#}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">کاربر<span class="caret"></span></a>
                <ul class="dropdown-menu">
{#                    <li>Action</li>#}
{#                    <li>Another action</li>#}
                    <li>{% comment %}<a href="#">{% endcomment %}Something else
                        here{% comment %}</a>{% endcomment %}</li>
                    <li role="separator" class="divider"></li>
                    <li>خروج</li>
                </ul>
            </div>
        </ul>
    </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>
