{% load bootstrap %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Title</title>
</head>
<body style="font-family: Arial,serif;background-color: #eeeeee">

{#NAVBAR#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-sm-4" align="center">
            <ul class="nav navbar-nav">
                {% if student.first_name %}
                    <li class="dropdown"><a id="dropdown" class="dropdown-toggle" disabled="true"
                                            data-toggle="dropdown"
                                            href="#">SHOULD CHANGE
                        <span
                                class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">pox</a></li>
                            <li><a href="#">تماس با ما</a></li>
                            <li><a href="/student/logout">خروج</a></li>
                        </ul>
                    </li>
                    <li><a href="/student/panel">بازگشت</a></li>

                {% endif %}
                <script>
                    document.getElementById("dropdown").innerHTML = "{{ student.first_name }}";
                </script>

            </ul>
        </div>
        <div class="col-sm-4" align="center"><img alt="Brand"
                                                  src={% static "pics/shariffff.png" %} {% comment %}style="height:6%;display:inline-block;"{% endcomment %}/>
        </div>
        <div class="col-sm-4" align="center">
            <div class="navbar-header navbar-right">
                <div class="row1">

                    <h3 id="university-brand" class="pull-right">سامانه‌ی فارغ‌التحصیلی</h3></div>
            </div>
        </div>
        {#        <a href="#" class="navbar-right"></a>#}

    </div>
</nav>


{% block content %}
{% endblock %}
{#<style>#}
{#.footer {#}
{#    position: fixed;#}
{#    left: 0;#}
{#    bottom: 0;#}
{#    width: 100%;#}
{#    background-color: red;#}
{#    color: white;#}
{#    text-align: center;#}
{#}#}
{#</style>#}
{##}
{#<div class="footer">#}
{#  <p>Footer</p>#}
{#</div>#}

<section class='copyright-bar'>
    <div class='wrapper'>
        <div class='inner-wraper clearfix'>
            <ul class='clearfix'>
                <li><a href='/Page/About-Digikala' title='درباره فروشگاه اینترنتی دیجی کالا' target='_blank'>درباره
                    دیجی‌کالا</a></li>
                <li><a href='/JobOpportunities' title='فرصت های شغلی فروشگاه اینترنتی دیجی کالا' target='_blank'>فرصت‌های
                    شغلی</a></li>
                <li><a target='_blank' title='تماس با فروشگاه اینترنتی دیجی کالا' href='/ContactUs'><h2>تماس با فروشگاه
                    اینترنتی دیجی کالا</h2></a></li>
                <li><a target='_blank' title='همکاری دیجی کالا با سازمان ها' href='/landing/osm/'>همکاری با
                    سازمان‌ها</a></li>

            </ul>

            <div class='copyright-bar-slogan'>
                <span id='copyright-full'>استفاده از مطالب فروشگاه اینترنتی دیجی کالا فقط برای مقاصد غیر تجاری و با ذکر منبع بلامانع است. کليه حقوق اين سايت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</span>
                <span id='copyright-min'>کليه حقوق اين سايت متعلق به شرکت نوآوران فن آوازه (فروشگاه آنلاین دیجی‌کالا) می‌باشد.</span>
                <span>Copyright © 2006 - 2018 Digikala.com</span>
            </div>

        </div>
    </div>
</section>


</body>
</html>
