{% load bootstrap %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
    {#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    {#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>#}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lateef" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Title</title>
</head>
<body style="font-family: Arial,serif;background-color: #eeeeee">

{#NAVBAR#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="col-sm-4" align="center">
            <ul class="nav navbar-nav">
                <li class="dropdown"><a id="acc_dropdown" class="dropdown-toggle" data-toggle="dropdown" href="#">SHOULD CHANGE<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="title" href="#">SHOULD CHANGE</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="/employee/logout">خروج</a></li>
                    </ul>
                </li>
                <script>
                    document.getElementById("acc_dropdown").innerHTML = "{{ employee.first_name }}";
                </script>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">گزینه‌ها<span
                        class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% if department_url %}
                            <li><a href={{ department_url }}>پنل دپارتمان</a></li>
                            <li><a href="/process/create_process_blueprint">ساخت الگوی فرایند</a></li>
                        {% endif %}
                        <li><a href="/process/create_employee_task_blueprint">ساخت الگوی وظیفه کارمند</a></li>
                        <li><a href="/process/create_form_blueprint">ساخت الگوی فرم</a></li>
                        <li><a href="/process/create_payment_blueprint">ساخت الگوی پرداخت</a></li>
                        <li><a href="/process/create_question_set">ساخت مجموعه سوال</a></li>
                        <li><a href="####">جست‌و‌جو دانشجو</a></li>
                        <li><a href="####">فهرست ساختمان‌ها</a></li>
                        <li><a href="####">فهرست دانشجویان</a></li>
                        <li><a href="/employee/add_department">اضافه کردن دانشکده</a></li>
                    </ul>
                </li>
                <li><a href="/employee/panel">بازگشت</a></li>
            </ul>
        </div>
        <div class="col-sm-4" align="center"><img alt="Brand"
                                                  src={% static "pics/shariffff.png" %} {% comment %}style="height:6%;display:inline-block;"{% endcomment %}/>
        </div>
        <div class="col-sm-4" align="center">
            <div class="navbar-header navbar-right">
                <div class="row1">

                    <h3 id="university-brand" class="pull-right">سامانه‌ی فارغ‌التحصیلی</h3></div>
            </div>
        </div>
        {#        <a href="#" class="navbar-right"></a>#}

    </div>
</nav>


{% block content %}
{% endblock %}
</body>
</html>
