{% load bootstrap %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {#    <meta charset="utf-8">#}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Title</title>
</head>
<body style="font-family: Arial,serif;background-color: #eeeeee">

{#NAVBAR#}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="dropdown"><a id="head-and-foot" class="dropdown-toggle" data-toggle="dropdown" href="#">پنل
                    کاربر<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a id="title" href="#">پنل کاربر</a></li>
                        <li><a href="#">تماس با ما</a></li>
                        <li><a href="/employee/logout">خروج</a></li>
                    </ul>
                </li>
                {#                <script>#}
                {#                    document.getElementById("acc_dropdown").innerHTML = "{{ employee.first_name }}";#}
                {#                </script>#}
                <li class="dropdown"><a id='head-and-foot' class="dropdown-toggle" data-toggle="dropdown" href="#">گزینه‌ها<span
                        class="caret"></span></a>
                    <ul class="hello dropdown-menu">
                        <li><a href="/process/create_process_blueprint">ساخت الگوی فرایند</a></li>
                        <li><a href="/process/create_employee_task_blueprint">ساخت الگوی وظیفه کارمند</a></li>
                        <li><a href="/process/create_form_blueprint">ساخت الگوی فرم</a></li>
                        <li><a href="/process/create_payment_blueprint">ساخت الگوی پرداخت</a></li>
                        <li><a href="/process/create_question_set">ساخت مجموعه سوال</a></li>
                        <li><a href="/employee/all_employees_list/">فهرست کارمندان</a></li>
                        <li><a href="/employee/all_departments_list/">فهرست دپارتمان‌ها</a></li>
                        <li><a href="/employee/all_students_list/">فهرست دانشجویان</a></li>
                        <li><a href="/employee/all_process_blueprints_list/">فهرست الگوی فرم ها</a></li>
                        <li><a href="/employee/add_department">اضافه کردن دپارتمان</a></li>
                        <li><a href="/student/signup/">اضافه کردن داشنجو</a> </li>
                        <li><a href="/employee/signup/">اضافه کردن کارمند</a> </li>
                    </ul>
                </li>
                <li><a id="head-and-foot" href="/">خانه</a></li>
                <li><a id='head-and-foot' href="#" onclick="goBack()">بازگشت</a></li>
                <script>
                    function goBack() {
                        window.history.back();
                    }
                </script>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                <a id="university-brand" class="navbar-brand" href="#">سامانه فارغ‌التحصیلی
                    <div align="center"><img
                            src="{% static "pics/sharifLogoSamll.png" %}" width="30" height="30"
                            class="d-inline-block align-top"
                            alt=""></div>
                </a>
            </li>
        </ul>
    </div>
</nav>


<script>
    $(document).ready(function () {
        $(".dropdown").hover(
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideDown("400");
                $(this).toggleClass('open');
            },
            function () {
                $('.dropdown-menu', this).not('.in .dropdown-menu').stop(true, true).slideUp("400");
                $(this).toggleClass('open');
            }
        );
    });</script>


<div class="container col-sm-12 col-md-12 text-right">
    {% block content %}
    {% endblock %}
</div>


<div></div>
<div>
    <footer class="">

        <!--Footer Links-->
        <div class="container-fluid text-right">
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
        </div>
        <!--/.Copyright-->

    </footer>
</div>
<div>
    <footer id="footer">
        <div class="footer container-fluid text-right">
            <div style="position: relative; bottom: 0" class="row">

                <!--Second column-->
                <div class="col-md-6"></div>
                <div id='head-and-foot' class="col-md-6">
                    <h5 class="title">تماس با ما </h5>
                    <div><a id='head-and-foot' href="mailto:graduation@example.com"><span
                            class="oi oi-envelope-closed" title="envelope closed" aria-hidden="true"
                            style="margin-left:1%;"></span>
                        به ما ایمیل بزنید </a>
                    </div>
                    <div><a id='head-and-foot' href="#!"><span id='head-and-foot' class="oi oi-comment-square"
                                                               aria-hidden="true"
                                                               style="margin-left:1%;"></span>سوالات رایج را ببینید</a>
                    </div>
                    <div><span id='head-and-foot' class="oi oi-envelope-open" title="star" aria-hidden="true"></span>
                        <p id="head-and-foot"> صندوق پستی: ۱۱۱۵۵-۱۱۳۶۵</p>
                    </div>
                    <div><a id='head-and-foot' href="#!"></a><span id='head-and-foot' class="oi oi-map-marker"
                                                                   title="social twitter" aria-hidden="true"
                                                                   style="margin-left:1%;"></span>
                        <p id="head-and-foot">تهران،خیابان آزادی،دانشگاه صنعتی شریف.</p>
                    </div>

                </div>
                <!--/.Second column-->
            </div>
        </div>
        <!--/.Footer Links-->

        <!--Copyright-->
        <div class="footer-copyright">
            <div class="container-fluid text-right text-center">
                © کلیه حقوق مربوط به <a id='head-and-foot' href="https://www.p.com"> گروه پاص </a> است.

            </div>
        </div>
    </footer>
</div>


</body>
</html>
